<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">
       
	<bean id="serverAddress1" class="com.mongodb.ServerAddress">
        <constructor-arg index="0" type="java.lang.String" value="${mongodb.url_1}" />
        <constructor-arg index="1" type="int" value="${mongodb.port_1}"/>
    </bean>
    
    <bean id="mongoDataSource" class="com.artist.helper.dao.mongo.MongoDataSource" destroy-method="destory">
    	<property name="isSave" value="true" />
    	<property name="connectionPerHost" value="30" />
    	<property name="connectionTimeout" value="12000" />
    	<property name="userName" value="${mongodb.username}" />
    	<property name="password" value="${mongodb.password}" />
    	<property name="dbName" value="${mongodb.dbname}" />
    	<property name="addressList">
    		<list>
    			<ref bean="serverAddress1"/>
    		</list>
    	</property>
    </bean>
    
</beans>