<script type="text/javascript">
    $(function(){
        $(".header-manager ul li").hover(
                function(){
                    $(this).find(".manage-list").show();
                },
                function(){
                    $(this).find(".manage-list").hide();
                }
        );
    });
</script>

<div class="header">
    <div class="header-logo"><img src="/static/images/logo.png" width="145" height="45" /></div>
    <div class="header-manager">
        <ul>
            <li class="leftnone"><a href="#">管理首页</a></li>
            <li>
                <a href="#">入库管理</a><i class="ioc-down"></i>
                <div class="manage-list">
                    <dl>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">单品盘点</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">全品盘点</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">盘点详情</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">盘点列表</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">单品盘点</a>
                    </dl>
                    <b></b>
                </div>
            </li>
            <li><a href="#">出库管理</a><i class="ioc-down"></i>
                <div class="manage-list">
                    <dl>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">单品盘点</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">全品盘点</a>
                    </dl>
                    <b></b>
                </div>
            </li>
            <li><a href="#">告警管理</a><i class="ioc-down"></i>
                <div class="manage-list">
                    <dl>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">单品盘点</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">全品盘点</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">盘点详情</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">盘点列表</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">单品盘点</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">全品盘点</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">盘点详情</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">盘点列表</a>

                    </dl>
                    <b></b>
                </div>
            </li>
            <li><a href="#">盘点管理</a><i class="ioc-down"></i>
                <div class="manage-list">
                    <dl>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">单品盘点</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">全品盘点</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">盘点详情</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">盘点列表</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">单品盘点</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">全品盘点</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">盘点详情</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">盘点列表</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">单品盘点</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">全品盘点</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">盘点详情</a>
                    </dl>
                    <b></b>
                </div>
            </li>
            <li class="rightnone"><a href="#">报表管理</a><i class="ioc-down"></i>
                <div class="manage-list">
                    <dl>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">单品盘点</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">全品盘点</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">盘点详情</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">盘点列表</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">单品盘点</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">全品盘点</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">盘点详情</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">盘点列表</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">单品盘点</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">全品盘点</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">盘点详情</a>
                        <a href="#"><img src="images/001.jpg" width="50" height="50">盘点列表</a>
                    </dl>
                    <b></b>
                </div>
            </li>
        </ul>
    </div>
    <div class="header-user">
        <a href="#" class="i-user"></a>
        <i class="ioc-down"></i>
    </div>
</div>
